# separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service pulldecryptfiles /sbin/pulldecryptfiles.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on early-init
    mkdir /firmware 0771 system system
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on fs
    # needed to make qseecomd work in recovery
    symlink /dev/block/platform/soc/7464900.sdhci /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    
    write /sys/kernel/debug/clearpad/hwtest "XP"
    
    start pulldecryptfiles

on boot
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct 5${ro.usb.pid_suffix}

on property:ro.crypto.state=encrypted
    start sbinqseecomd
